###### <center>Elements Of Data Science - F2025</center>
# <center>Week 3: Pandas, Data Exploration and Visualization<center>
### <center>9/16/2025</center>

# TODOs

- Practical Statistics for Data Scientists, Chapter 3 [EBSCO](https://ezproxy.cul.columbia.edu/login?qurl=https%3a%2f%2fsearch.ebscohost.com%2flogin.aspx%3fdirect%3dtrue%26db%3dnlebk%26AN%3d1517577%26site%3dehost-live%26scope%3dsite%26ebv%3DEB%26ppid%3Dpp_79)
- An introduction to seaborn https://seaborn.pydata.org/tutorial/introduction.html
- (Optional) Data Science From Scratch, Chapter 5,6,7 [EBSCO](https://ezproxy.cul.columbia.edu/login?qurl=https%3a%2f%2fsearch.ebscohost.com%2flogin.aspx%3fdirect%3dtrue%26db%3dnlebk%26AN%3d979529%26site%3dehost-live%26scope%3dsite%26ebv%3DEB%26ppid%3Dpp_57)

<br>
 
- Complete Week 3 Quiz
<br>

- HW1 out this week, includes questions on Hypothesis Testing

# TODAY
<br>

- Pandas

- Data Exploration

- Visualization

<br>
<br>

# <center>Questions?</center>
<br>
<br>

# Environment Setup

In [1]:
import numpy as np

# Intro to Pandas

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/640px-Pandas_logo.svg.png?1600627785917" width="300px">

Pandas is an open source, BSD-licensed* library providing:

- **high-performance, easy-to-use data structures** and

- **data analysis tools**

**Berkeley Source Distribution (BSD)** licenses are used for the distribution of many freeware, shareware and open source software.

In [2]:
# usually imported using the alias 'pd'
import pandas as pd

- Primary datastructures:
  - **Series**: 1D array with a flexible index
  - **Dataframe**: 2D matrix with flexible index and column names

# Pandas Series

- 1D array of data (any numpy datatype) plus an associated **index** array

In [3]:
s = pd.Series(np.random.rand(4), index= ['j','k','m','n'])
s

j    0.882688
k    0.795942
m    0.060938
n    0.821973
dtype: float64

In [4]:
# return the values of the series
s.values

array([0.88268843, 0.79594199, 0.06093834, 0.82197277])

In [5]:
# return the index of the series
s.index

Index(['j', 'k', 'm', 'n'], dtype='object')

# Pandas Series Cont.

- index is flexible, can be anything hashable (integers, strings, ...)

In [6]:
# create Series from array and set index
s1 = pd.Series([1,2,3],index=['house_a','2','house c'],name='NumRooms',dtype=float)
s1

house_a    1.0
2          2.0
house c    3.0
Name: NumRooms, dtype: float64

In [7]:
s1['2'] # access a single value via index label

2.0

In [8]:
s1["house c"] # dot notation (How do we get "house c"?)

3.0

# Pandas Series Cont.

- accessing other Series attributes

In [9]:
s1

house_a    1.0
2          2.0
house c    3.0
Name: NumRooms, dtype: float64

In [10]:
#print(f'{s.index  = :}')
#print(f'{s.values = :}')
print(f'{s1.name   = :}')
print(f'{s1.dtype  = :}')
print(f'{s1.shape  = :}')

s1.name   = NumRooms
s1.dtype  = float64
s1.shape  = (3,)

# Pandas Series Cont.

In [11]:
# Can create series with index from a dictionary
s2 = pd.Series({'a':1,'b':2,'c':3,'d':4})
s2

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
print(s2.name)

None

In [13]:
print(f'{s2.index  = :}')
print(f'{s2.values = :}')

s2.index  = Index(['a', 'b', 'c', 'd'], dtype='object')
s2.values = [1 2 3 4]

# Pandas DataFrame

- tabular datastructure
<br>

- each column a single datatype
<br>

- contains both row and column indices
<br>

- single column == Series

# Pandas DataFrame Cont.

In [14]:
df = pd.DataFrame({'Year':[2017,2018,2018,2019],
                    'Semester':['Fall','Fall','Spring','Fall'],
                    'Measure_1':[2.1,3.0,2.4,1.9]
                   })

In [15]:
df

   Year Semester  Measure_1
0  2017     Fall        2.1
1  2018     Fall        3.0
2  2018   Spring        2.4
3  2019     Fall        1.9

In [16]:
print(df)

   Year Semester  Measure_1
0  2017     Fall        2.1
1  2018     Fall        3.0
2  2018   Spring        2.4
3  2019     Fall        1.9

In [17]:
display(df)

   Year Semester  Measure_1
0  2017     Fall        2.1
1  2018     Fall        3.0
2  2018   Spring        2.4
3  2019     Fall        1.9

# Pandas DataFrame Cont.

In [18]:
data = [[2017,'Fall',2.1],
        [2018,'Fall',3.0],
        [2018,'Spring',2.4],
        [2019,'Fall',1.9]]

In [19]:
df = pd.DataFrame(data,
                   columns=['Year','Semester','Measure_1'],
                   index=['001','002','003','004'])
df.shape

(4, 3)

In [20]:
df

     Year Semester  Measure_1
001  2017     Fall        2.1
002  2018     Fall        3.0
003  2018   Spring        2.4
004  2019     Fall        1.9

# Pandas Attributes

- Get shape of DataFrame : `shape`

In [21]:
df.shape # rows, columns

(4, 3)

- Get index values : `index`

In [22]:
df.index

Index(['001', '002', '003', '004'], dtype='object')

- Get column values : `columns`

In [23]:
df.columns

Index(['Year', 'Semester', 'Measure_1'], dtype='object')

# Pandas Indexing/Selection

In [24]:
df

     Year Semester  Measure_1
001  2017     Fall        2.1
002  2018     Fall        3.0
003  2018   Spring        2.4
004  2019     Fall        1.9

Select by label:
- `.loc[]`

In [25]:
df.loc['001']

Year         2017
Semester     Fall
Measure_1     2.1
Name: 001, dtype: object

In [26]:
df.loc['001','Measure_1']

2.1

# Pandas Indexing/Selection Cont.

Select by position:
- `.iloc[]`

In [27]:
df

     Year Semester  Measure_1
001  2017     Fall        2.1
002  2018     Fall        3.0
003  2018   Spring        2.4
004  2019     Fall        1.9

In [28]:
df.iloc[0]

Year         2017
Semester     Fall
Measure_1     2.1
Name: 001, dtype: object

In [29]:
df.iloc[0,2]

2.1

# Pandas Indexing/Selection Cont.

Selecting multiple rows/columns: use list (fancy indexing)

In [30]:
df

     Year Semester  Measure_1
001  2017     Fall        2.1
002  2018     Fall        3.0
003  2018   Spring        2.4
004  2019     Fall        1.9

In [31]:
df.loc[['002','004']]

     Year Semester  Measure_1
002  2018     Fall        3.0
004  2019     Fall        1.9

In [32]:
df.loc[['002','004'],['Year','Measure_1']]

     Year  Measure_1
002  2018        3.0
004  2019        1.9

# Pandas Slicing

In [33]:
# Get last two rows
df.iloc[-2:]

     Year Semester  Measure_1
003  2018   Spring        2.4
004  2019     Fall        1.9

In [34]:
first_2_rows_first_2_cols

NameError: name 'first_2_rows_first_2_cols' is not defined

In [ ]:
# Get first two rows and first two columns
df.iloc[:2,:2]

**NOTE:** `.iloc` is **exclusive** (start:end+1)

# Pandas Slicing Cont.

Can also slice using labels:

In [ ]:
df

In [ ]:
df.loc['002':'004']

In [ ]:
df.loc['002':'004','Semester':]

**NOTE**: `.loc` is **inclusive**

# Pandas Slicing Cont.

How to indicate all rows or all columns? `:`

In [ ]:
df.loc[:,'Measure_1']

In [ ]:
df.iloc[2:,:]

# Pandas Indexing Cont.

Shortcut for indexing:

In [ ]:
df['Semester']

In [ ]:
# can use dot notation if there is no space in label
df.Semester

# Panda Selection Chaining

Get 'Year' and 'Measure_1' for first 3 rows:

In [ ]:
df.iloc[:3].loc[:,['Year','Measure_1']]

For records '001' and '003' get last two columns

In [ ]:
df.loc[['001','003']].iloc[:,-2:]

# Pandas Selection Chaining Cont.

For record '002' get last two columns?:

In [ ]:
# reduce the amount of error information printed
%xmode Minimal

In [ ]:
# Note: add 'raises-exception' tag to cell to continue running after exception

df.loc['002'].iloc[:,-2:] # row with label '002', then all rows, last two columns?

In [ ]:
df.loc['002'].iloc[:-1] # row with label '002', last two elements of Series

# Pandas `head` and `tail`

Get a quick view of the first or last rows in a DataFrame

In [ ]:
df.head() # first 5 rows by default

In [ ]:
df.tail(2) # only print last 2 rows

# Pandas Boolean Mask

In [ ]:
df.loc[:,'Semester']

In [ ]:
# Which rows have Semester of 'Fall'?
df.loc[:,'Semester'] == 'Fall'

In [ ]:
# Get all data for rows with with Semester 'Fall'
df[df['Semester'] == 'Fall']

In [ ]:
# Get Measure_1 for all records for Semester 'Fall'
df.loc[df.Semester == 'Fall',['Year','Measure_1']]

# Pandas Boolean Mask Cont.

Get all records Fall Semester prior to 2019

In [ ]:
df.loc[df.Semester =='Fall'].loc[df.Year<2019]

In [ ]:
# make sure to use parentheses with comparisons!
df.loc[(df.Semester == 'Fall') & (df.Year < 2019) ]

In [ ]:
# or use comparison functions: .eq, .ne, .gt, .ge, .lt, .le
df.loc[df.Semester.eq('Fall') & df.Year.lt(2019)]

# Pandas Boolean Mask Cont.

Get all records belonging to a set with `.isin`:

In [ ]:
df.loc[df.Year.isin(np.array(range(2017, 2020)))]

# Pandas Selection Review

- `.loc[]`

- `.iloc[]`

- Fancy Indexing

- Slicing

- Chaining

- `head` and `tail`

- Boolean Mask

- `.isin`

# Pandas Sorting

In [ ]:
df.sort_values(by=['Measure_1']).head(3)

In [ ]:
df.sort_values(by=['Measure_1'],ascending=False).head(3)

In [ ]:
df.sort_values(by=['Semester','Measure_1'], ascending=False).head(3)

<br>
<br>

# <center>Questions?</center>
<br>
<br>

# Exploratory Data Analysis

## For a new set of data, would like to know:
- amount of data (rows, columns)
- range (min, max)
- counts of discrete values
- central tendencies (mean, median)
- dispersion or spread (variance, IQR)
- skew
- covariance and correlation
...

# Yellowcab Dataset

- Records of Yellowcab Taxi trips from January 2017
- more info: https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page

# Loading Datasets from CSV (Comma Separated Values)

- columns separated by delimiter, eg. comma, tab (\t), pipe (|)
- one row per record, observation
- often, strings quoted
- often, first row contains column headings
- often, comment rows starting with #

In [ ]:
!head ../data/yellowcab_demo_withdaycategories.csv

# Loading Datasets with Pandas

In [ ]:
import pandas as pd
df_taxi = pd.read_csv('../data/yellowcab_demo_withdaycategories.csv',
                sep=',',
                header=1,
                parse_dates= ['pickup_datetime','dropoff_datetime'],
               )

In [ ]:
# display first 5 rows
df_taxi.head(5)

# Get Size of Dataset

In [ ]:
df_taxi.shape

In [ ]:
# number of rows 
f'{df_taxi.shape[0]} rows'

In [ ]:
# number of columns
f'{df_taxi.shape[1]} columns'

In [ ]:
'number of rows: {}, number of columns: {}'.format(*df_taxi.shape)

# Aside: Argument Unpacking with `*`

- `*` in when calling a function unpacks an iterable, passing each value as an argument
- want `format(2,8)` instead of the `format((2,8))`

In [ ]:
df_taxi.shape

In [ ]:
print(*df_taxi.shape)

In [ ]:
# call .format( (2,8) )
'number of rows: {}, number of columns: {}'.format(df_taxi.shape)

In [ ]:
# call .format(2,8)
'number of rows: {}, number of columns: {}'.format(*df_taxi.shape)

# What are the column names?

In [ ]:
df_taxi.columns

In [ ]:
# columns as numpy array
df_taxi.columns.values

In [ ]:
# columns as list
df_taxi.columns.tolist()

# What are the column datatypes?

In [ ]:
df_taxi.dtypes

In [ ]:
type(df_taxi.dtypes)

# Get Summary Info for DataFrame

In [ ]:
df_taxi.info()

- number of rows
- number of columns
- column names, number of filled values, datatypes
- number of each datatype seen
- size of dataset in memory

# Variable (Observation) Types

- **Numeric** (eg. weight, temperature)
 - usually has a zero value
 - describes magnitude

- **Categorical** (eg. class, variety)
 - usually a finite set
 - no order

- **Ordinal** (eg. Like scale, education level, etc.)
 - usually a finite set
 - has order
 - usually missing zero
 - difference between levels may not be the same

# Numeric: Data Ranges

In [ ]:
df_taxi.trip_distance.min()

In [ ]:
df_taxi.trip_distance.max()

In [ ]:
df_taxi.columns

In [ ]:
df_taxi.min(numeric_only=True)

# Numeric: Central Tendency with Mean

- Sample Mean

<center>$\Large \bar{x} = \frac{1}{n} \sum x_i$</center>

In [ ]:
df_taxi.fare_amount.mean()

In [ ]:
print(f'{df_taxi.fare_amount.mean() = :0.2f}')

- Mean is sensitive to *outliers*

- **Outlier:** a data point that differs significantly from other observations
 - data error
 - effect of heavy tailed distribution?

# Numeric: Central Tendency with Median

- Median
 - Divides sorted dataset into two equal sizes
 - 50% of the data is less than or equal to the median

In [ ]:
df_taxi.fare_amount.median()

- Median is *robust* to outliers
- **Robust:** Not affected by outliers

# Numeric: Quantiles/Percentiles

- **Quantile:** cut point for splitting distribution
- **Percentile:** $x$% of data is less than or equal to the $x$th percentile

In [ ]:
df_taxi['fare_amount'].quantile(.95, interpolation='linear') # 95% of the data is less than or equal to x

In [ ]:
df_taxi.fare_amount.quantile([.05,.95], interpolation='linear') # 90% of the data is between 4 and 33.5

In [ ]:
df_taxi.fare_amount.quantile([0,.25,.5,.75,1]) # Quartiles: 25% of data is between each pair

# Numeric: Spread with Variance

- Sample Variance
<center>$\Large s^2 = \frac{\sum(x-\bar{x})^2}{n-1}$</center>

In [ ]:
round(df_taxi.fare_amount.var(),3)

but this is in $\text{dollars}^2$!

# Numeric: Spread with Standard Deviation

- Sample Standard Deviation
<center>$\Large s = \sqrt{\frac{\sum(x-\bar{x})^2}{n-1}}$</center>

In [ ]:
round(df_taxi.fare_amount.std(),3)

- Back in original scale of dollars
- Sensitive to outliers

# Numeric: Exploring Spread with IQR

- Quartiles
 - ~25% of data is ≤ first quartile, 25th percentile
 - ~50% of data is ≤ second quartile, 50th percentile (Median)
 - ~75% of data is ≤ third quartile, 75th percentile

- Can find quartiles with: pandas quantile or numpy percentile

- **Interquartile Range (IQR)**
 - (third quartile - first quartile) or (75th percentile - 25th percentile)

In [ ]:
df_taxi.fare_amount.quantile(.75) - df_taxi.fare_amount.quantile(.25)

- IQR is robust to outliers

# Numeric: Exploring Distribution with Skew

- **Skewness**
 - measures assymetry of distribution around mean
 - indicates tail to left (neg) or right (pos)
 - skew will lead to difference between median and mean

In [ ]:
df_taxi.fare_amount.skew()

Easier to understand with a plot (histogram/boxplot)...

# Numeric Summary Stats with `.describe`

In [ ]:
df_taxi.describe()

In [ ]:
df_taxi.describe().round(2) # reduce precision with round

# Bivariate: Evaluating Correlation

- **Correlation:** the degree to which two variables are linearly related

- Pearson Correlation Coefficient: $\rho_{XY} = \frac{cov(X,Y)}{\sigma_X\sigma_Y}$

- Sample Correlation: $r = \frac{\sum (x_i - \bar{x})(y_i - \bar{y})}{(n-1)s_xs_y}$

- Takes values between:
 - -1 (highly negatively correlated)
 - 0 (not correlated)
 - 1 (highly positively correlated)

<div align="center"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Correlation_examples2.svg/640px-Correlation_examples2.svg.png?1601266296038" width="600px"></center>

# Calculating Correlation

In [ ]:
df_taxi.trip_distance.corr(df_taxi.fare_amount).round(2)

In [ ]:
df_taxi[['trip_distance','fare_amount' ]].plot.scatter('trip_distance', 'fare_amount' )

In [ ]:
from scipy.stats import pearsonr
r,p = pearsonr(df_taxi.trip_distance, df_taxi.fare_amount)
print(f"{r = :.2f}, {p = :.2f}")

# Counting Categorical Values with `.value_counts()`

In [ ]:
df_taxi.payment_type.value_counts()

In [ ]:
df_taxi.payment_type.value_counts(normalize=True)

In [ ]:
tmp = pd.DataFrame()
tmp['count'] = df_taxi.payment_type.value_counts()
tmp['prop'] = df_taxi.payment_type.value_counts(normalize=True)
tmp.round(2)

# Applying Functions to Groups of Data

In [ ]:
df_taxi.groupby('payment_type')

In [ ]:
df_taxi.trip_distance

In [ ]:
# applying multiple aggregation functions
df_taxi.groupby('payment_type')['trip_distance'].agg(['count','mean','median']).round(2)

In [ ]:
df_taxi[df_taxi.payment_type.isin(['Cash','Credit card'])].groupby(['payment_type','is_weekend']).trip_distance.agg(['mean','median']).round(2)

# Aside: Dealing with long chains

- long chains may not be visible in notebooks

In [ ]:
# df_taxi[df_taxi.payment_type.isin(['Cash','Credit card'])].groupby(['payment_type','is_weekend']).trip_distance.agg(['mean','median'])`

# use backslashes
df_taxi.loc[df_taxi.payment_type.isin(['Cash'])]\
    .groupby(['payment_type','is_weekend'])\
    .trip_distance.agg(['mean','median'])

In [ ]:
# wrap in parentheses
(
    df_taxi
    .loc[df_taxi.payment_type.isin(['Cash'])]
    .groupby(['payment_type','is_weekend'])
    .trip_distance.agg(['mean','median'])
)

<br>
<br>

# <center>Questions?</center>
<br>
<br>

# Visualizations in Python

- dataframes as tables
- plotting with `matplotlib.pyplot`
- plotting with `pandas`
- plotting with `seaborn`
<br>

- need interactive plots? `plotly`

# DataFrames as Tables

In [ ]:
df_taxi[['trip_distance','fare_amount']].head(10)

# Styling dataframes with `style`

In [ ]:
(
    df_taxi[['trip_distance','fare_amount']]
    .head(10)
    .style
    .format(precision=1)
    .background_gradient()
)

For more info: https://pandas.pydata.org/docs/user_guide/style.html

# Plotting via Pandas

In [ ]:
df

In [ ]:
df_taxi.plot.scatter(x='trip_distance',y='fare_amount')

# Using semi-colon to hide supress "end of cell print"

In [ ]:
df_taxi.plot.scatter(x='trip_distance',y='fare_amount')
plt.show()

# Manipulating plots with Matplotlib

- sizing
- adding titles
- changing axis labels
- changing axis tics

In [ ]:
ax = df_taxi.trip_distance.plot.hist();
type(ax)

# Import matplotlib.pyplot

In [ ]:
import matplotlib.pyplot as plt

%matplotlib inline

# Matplotlib Axes

In [ ]:
fig,(ax,ax1,_) = plt.subplots(1,3,figsize=(12,4)) # set the figure size
(
    df_taxi
    .plot.scatter(
        x = 'trip_distance',
        y = 'fare_amount',
        marker='x',
        color='red',
        ax=ax
    )
)
ax.set_xlabel('Trip distance') # set x and y axis labels
ax.set_ylabel('Fare amount')
ax.set_xlim([10,40]) # set x and y axis limits
ax.set_ylim([-5,100])
ax.set_title('trip_distance vs fare_amount for NY taxi trips in Jan 2017'); # set axis title

# Matplotlib and dpi

In [ ]:
def find_dpi(w, h, d):
    """
    https://medium.com/dunder-data/why-matplotlib-figure-inches-dont-match-your-screen-inches-and-how-to-fix-it-993fa0417dba
    w : width in pixels
    h : height in pixels
    d : diagonal in inches
    """
    w_inches = (d ** 2 / (1 + h ** 2 / w ** 2)) ** 0.5
    return round(w / w_inches)

find_dpi(1920, 1080, 13.25) # approx what my native dpi is

In [ ]:
fig.dpi # from previous figure

In [ ]:
fig, ax = plt.subplots(figsize=(6, 1), dpi=166)
df_taxi.plot.scatter(x = 'trip_distance',y = 'fare_amount',ax=ax);

# Matplotlib: Subplots, Figure and Axis

In [ ]:
fig,ax = plt.subplots(1,2,figsize=(16,4))

df_taxi[df_taxi.pickup_datetime.dt.hour < 12].fare_amount.plot.hist(ax=ax[0]);
ax[0].set_xlabel('fare_amount (dollars)');
ax[0].set_title('Trips Before Noon');

df_taxi[df_taxi.pickup_datetime.dt.hour >= 12].fare_amount.plot.hist(ax=ax[1]);
ax[1].set_xlabel('fare_amount (seconds)');
ax[1].set_title('Trips After Noon');
# Matplotlib: Subplots, Figure and Axis
fig.suptitle('Yellowcab Taxi Fares By Time Of Day');

# Matplotlib: Sharing Axes

In [ ]:
fig,ax = plt.subplots(1,2,figsize=(16,4), sharey=True)

df_taxi[df_taxi.pickup_datetime.dt.hour < 12].fare_amount.plot.hist(bins=100,ax=ax[0]);
ax[0].set_xlabel('fare_amount (dollars)');
ax[0].set_title('Trips Before Noon');
df_taxi[df_taxi.pickup_datetime.dt.hour >= 12].fare_amount.plot.hist(bins=100,ax=ax[1]);
ax[1].set_xlabel('fare_amount (seconds)');
ax[1].set_title('Trips After Noon');

# Matplotlib: adding lines and annotations

In [ ]:
fig,ax = plt.subplots(1,1,figsize=(12,6));

df_taxi.fare_amount.plot.hist(bins=100, ax=ax);
ax.set_xlabel('fare_amount (dollars))');

# add a vertical line
ax.axvline(df_taxi.fare_amount.mean(),color='r');
#ax.vlines(df_taxi.fare_amount.mean(),*ax.get_ylim(),color='r');

# add some text
ax.text(df_taxi.fare_amount.mean()+1,ax.get_ylim()[1]*.75,'mean');

# Plotting with Seaborn

- Python data visualization library 
- Based on matplotlib. 
- It provides a high-level interface for drawing attractive and informative statistical graphics.
<br>
<br>

<div align='center'><img src="images/seaborn_examples.png"></div>

In [ ]:
import seaborn as sns
sns.__version__

# Univariate Distribution: Histograms

In [ ]:
fig,ax = plt.subplots(1,1,figsize=(6,3))

df_taxi.fare_amount.plot.hist(ax=ax);

In [ ]:
fig,ax = plt.subplots(1,1,figsize=(6,3))

sns.histplot(x='fare_amount',data=df_taxi,ax=ax); # sns.histplot(x=df_taxi.fare_amount,ax=ax);

# Univariate Distribution: Histograms

In [ ]:
fig,nd = plt.subplots(1,1,figsize=(12,8))

# many other parameters to play with
sns.histplot(x='fare_amount',data=df_taxi,ax=nd,kde=True,stat='percent');

# Aside: KDE

<div align="center"><img src='images/kde2.png' width="500px">
<img src='images/kde3.png' width="500px"></div>

# Seaborn Styles

In [ ]:
# for a single plot using a context
with sns.axes_style('whitegrid'):
    fig,ax = plt.subplots(1,1,figsize=(10,1))
    sns.histplot(x='fare_amount',data=df_taxi);

In [ ]:
# set style globally: darkgrid, whitegrid, dark, white, ticks
sns.set_style('darkgrid')

In [ ]:
fig,ax = plt.subplots(1,1,figsize=(10,1))
sns.histplot(x='fare_amount',data=df_taxi);

In [ ]:
# to reset to matplotlib defaults
#import matplotlib
#matplotlib.rc_file_defaults()

# Univariate Distributions: Boxplot

In [ ]:
fig,ax = plt.subplots(1,1,figsize=(12,3))

sns.boxplot(x='fare_amount',data=df_taxi,ax=ax);

- first quartile
- second quartile (Median)
- third quartile
- whiskers (usually 1.5*IQR)
- outliers

# Seaborn: Combining Plots with Subplots

In [ ]:
fig,ax = plt.subplots(2,1,figsize=(12,6), sharex=True)

sns.boxplot(x='fare_amount', data=df_taxi, ax=ax[0]);
sns.histplot(x='fare_amount', data=df_taxi, ax=ax[1]);

# Other Univariate Distribution Visualizations

In [ ]:
fig,ax = plt.subplots(1,3,figsize=(18,6))

sns.stripplot(x='fare_amount',data=df_taxi[:200],ax=ax[0])
sns.violinplot(x='fare_amount',data=df_taxi,ax=ax[1])
sns.swarmplot(x='fare_amount',data=df_taxi[:200],ax=ax[2]);

# Bivariate: Scatterplot (with alpha)

In [ ]:
fig,ax = plt.subplots(1,2,figsize=(14,6))
sns.scatterplot(x='trip_distance', y='fare_amount', data=df_taxi, ax=ax[0]);
sns.scatterplot(x='trip_distance', y='fare_amount', data=df_taxi, ax=ax[1], alpha=0.2);

# Bivariate: Add Regression Line

In [ ]:
fig,ax = plt.subplots(1,1,figsize=(12,8))

sns.regplot(x='trip_distance', y='fare_amount', data=df_taxi, ax=ax, scatter_kws={'alpha':0.3});
plt.vlines(x = 15, ymin=0, ymax=100)
plt.show()

# Bivariate: Joint Plot

In [ ]:
sns.jointplot(x='trip_distance',y='fare_amount',data=df_taxi,alpha=0.5);

# Bivariate: Joint Plot with KDE

In [ ]:
sns.jointplot(x='trip_distance', y='fare_amount',
              data=df_taxi,
              kind='kde');

# Comparing Multiple Variables with `pairplot`

In [ ]:
sns.pairplot(data=df_taxi[['trip_distance','fare_amount','tip_amount']]);

# Categorical Variables: Frequency

In [ ]:
df_taxi.payment_type.value_counts()

In [ ]:
sns.countplot(x='payment_type',data=df_taxi);

# Plotting Numeric and Categorical

In [ ]:
fig,ax = plt.subplots(1,1,figsize=(12,8))

sns.barplot(x='payment_type',y='fare_amount',data=df_taxi,estimator=np.mean,ci=95);
ax.set_ylabel('mean fare_amount');

# Plotting with Hue

In [ ]:
fig,ax = plt.subplots(1,1,figsize=(12,6))

# add a second categorical variable day_of_week
sns.barplot(x='day_of_week',
            y='fare_amount',
            hue='payment_type',
            data=df_taxi,
            ax=ax,
           );

# Same Axis, Multiple Plots with Seaborn (with legend)

In [ ]:
fig,ax = plt.subplots(1,1,figsize=(12,6))
sns.histplot(x='tip_amount',data=df_taxi[df_taxi.pickup_datetime.dt.hour  < 12], label='before noon',color='blue', ax=ax);
sns.histplot(x='tip_amount',data=df_taxi[df_taxi.pickup_datetime.dt.hour >= 12], label='after noon', color='orange',ax=ax);
plt.legend(loc='best');

# Data Exploration and Viz Review

- central tendencies: mean, median
- spread: variance, std deviation, IQR
- correlation: pearson correlation coefficient
- plotting with Matplotlib and Seaborn
- plotting real valued variables: histogram, scatter, regplot
- plotting categorical variables: count, bar
- plotting interactions: jointplot, pairplot

# Where to go from here

- Additional Dataframe styling with `.style()` (https://pandas.pydata.org/docs/user_guide/style.html)
- Seaborn Figure-level plots: `relplot`,`displot`,`catplot` (https://seaborn.pydata.org/tutorial/function_overview.html)
- Interactive visuals with plotly (https://plotly.com/python/plotly-fundamentals/)

<br>
<br>

# <center>Questions?</center>
<br>
<br>

In [ ]:
import matplotlib
matplotlib.rc_file_defaults()